{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create A Book Review</title>
    <link rel="stylesheet" href="{%static 'book-review.css'%}">
</head>
<body>
    <header>
        <div>My Book Review</div>
        <nav>
            <a href="{%url 'reviews_list' %}">Back to List</a>
        </nav>
    </header>
    <main>
        <div class="book-review-form">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>Copyright 2022 by Richard Rong</div>
        <p>
            This is my site for you to create a review.
        </p>
    </footer>
</body>
</html>