{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{review.title}}</title>
    <link rel="stylesheet" href="{% static 'book-review.css' %}">
</head>
<body>
    <header>
        <div>My Book Reviews</div>
        <nav>
            <a href="{%url 'reviews_list' %}">Back to List</a>
            <a href="{%url 'create_review' %}">Create a Review</a>
        </nav>
    </header>
    <main>
        <div class="detail-page-book-review">
            <img class="book-cover" 
            src="{{review.cover_image}}">
            <h1 class="book-title">
                <a href="{% url 'review_detail' review.id %}">
                    {{review.title}}
                </a>
            </h1>
            <div class="book-rating">{{review.rating}}</div>
            <div class="book-authors">
                {{review.authors}}
            </div>
            <h2>Summary</h2>
            <p>
                {{review.summary}}
            </p>
            <h2>My Review</h2>
            <p>
                {{review.review}}
            </p>

        </div>
    </main>
    <footer>
        <div>
            Copyright 2022 by Richard Rong
        </div>
        <p>This is my site contains details and reviews of 
            the book.</p>
    </footer>    
</body>
</html>