{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href='{% static "book-review.css" %}'>
</head>
<body>
    <header>
        
        <div>My Book Reviews</div>
        
        <nav>
            <a href="{% url 'create_review' %}">Create a Review</a>
        </nav>
    
    </header>
    
    <main>
    {%for review in reviews%}    
        <div class="main-page-book-review">
            
            <img class="book-cover" 
            src="{{review.book_cover}}"
            alt="{{review.title}}">
            
            <h2 class="book-title">
                <a href="{% url 'review_detail' review.id %}">
                    {{review.title}}
                </a>
            </h2>

            <div class="book-rating">{{review.rating}}</div>

            <div class="book-authors">{{review.authors}}</div>
            
            <h3>Summary</h3>

            <p>
                {{review.summary}}
            </p>
            
            <div class="book-review">{{review.review}}</div>

            <div class="book-date">{{review.create}}</div>
        </div>
    {%endfor%}
        

    </main>

    <footer>

        <div>Copyright 2022 by Richard Rong</div>

        <p>This is my site about book reviews. 
            Feel free to upload any books you like, 
            and write a brief review.
        </p>
    </footer>
</body>
</html>